@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
body{
    text-align: center;  
}
.contenedor{
    max-width: 600px;
    margin: auto;
    height: 100vh;
    border: 2px solid #ccc;
    background: linear-gradient(to top, #703a7c,#ca547d);
}
/*PANTALLA INICIO */

#inicio{
    display: block;
}
h1{
    background-color: #1b2631;
    color: white;
    padding: 10px 0;
}
#inicio img{
    width: 250px;
    margin: 30px;
}
#inicio p{
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding: 30px;
}
.button{
    padding: 15px;
    background: #cb527a;
    font-size: 18px;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}
/*PANTALLA JUEGO */

#juego{
    display: none;
    padding: 10px;
}
#juego .tiempo{
    border: 4px solid #ebbe53;
    width: 60px;
    height: 60px;
    border-radius:  50%;
    margin: 10px auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ebbe53;
}
#juego .palabra_estilo{
    padding: 30px;
    font-size: 40px;
    background-color: #a24679;
    color: white;
    border: 1px solid #989898;
}
.entrada{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #989898;
    width: 100%;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    margin: 50px 0;
    display: block;
    color: white;
}

.listado h3 {
    color: white;
}
.listado span{
    display: inline-block;
    font-size: 14px;
    padding: 0 5px;
    margin: 0 5px;
    border-radius: 10px;
    background-color: #ebbe53;
    color: white;
}
/*PANTALLAFINAL */

#final{
    display: none;
}
.texto_final{
    font-size: 30px;
    margin-top: 40px;
    color: white;
}
.estilo_cantidad_final{
    background: #fdd56a;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #333;
    font-size: 50px;
    margin: auto;
    color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;
}

